body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #f4f0e6;
    font-size: 54px;
    color: #de4307;
}

.main {
    display: flex;
    height: 60vh;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #d9d9f3;
    font-size: 54px;
    color: #de4307;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #ceefe4;
    font-size: 54px;
    color: #de4307;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #9ddea8;
    font-size: 54px;
    color: #de4307;
}